@import url('https://fonts.googleapis.com/css?family=Lato:100,400,500');



body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  background-color:green;
  padding:0px;
}

.row {

}

/* General Use Custom Styles */
.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.color__1 {
  color: #02b3e4;
}

.color__2 {
  color: #2d3c49;
}

.color__3 {
  color: #7d97ad;
}

/* Header Styling */

.header__row {
  border-bottom: 30px solid black;
  padding-bottom: 30px;
}
.header__right {
  text-align: right;
  font-family: 'Lato', serif !important;
  font-weight: 100;
  text-transform: uppercase;
}

.header__mainlne {
  text-align: right;

}

.header__subline {
  text-align: right;
}


.content__project {
  text-align: center;
}

.content__projectImg {
  width: 100%;
  height: auto;
}
